#root {
  width: 100%;
  margin: 0 8px;
  padding: 2rem;
  text-align: center;
}

@media (width >= 992px) {
  #root {
    margin: 0 100px;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.app-container {
  .header-title {
    margin-bottom: 2rem;
    font-size: 48px;
  }

  .car {
    pointer-events: auto;
  }

  .map-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
  }

  .marker-details {
    height: 400px;
    overflow-y: auto;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .empty-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: lightgray;
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    gap: 2rem;
    margin-bottom: 2rem;

    h3 {
      font-size: 1rem;
      font-weight: 700;
    }

    p {
      font-size: 24px;
      font-weight: 900;
      color: #86236c;
    }

    .stats-block {
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      padding: 1rem;
      flex: 1;
      justify-content: space-between;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }

  @media (width >= 600px) {
    .stats {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
